version: "2.1"

orbs:
  python: circleci/python@2.1.1
  coveralls: coveralls/coveralls@2.2.1

jobs:
  linting:
    executor:
      name: python/default
      tag: "3.11"
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: poetry
          args: --only base
      - run:
          name: Linting
          command: |
            poetry run tox -e lint
  tests:
    parameters:
      version:
        type: string
    executor:
      name: python/default
      tag: <<parameters.version>>
    steps:
      - checkout
      - python/install-packages:
          pkg-manager: poetry
          args: --only base
      # - run:
      #     name: Docstring tests
      #     command: |
      #       poetry run tox -e tests.doctest
      - run:
          name: Unit tests
          command: |
            poetry run -- tox -e tests.unit -- --cov
      - coveralls/upload:
          flag_name: <<parameters.version>>
          parallel: true
  coverage:
    executor:
      name: python/default
    steps:
      - coveralls/upload:
          carryforward: 3.11, 3.12
          parallel_finished: true

workflows:
  checks:
    jobs:
      - linting
      - tests:
          matrix:
            parameters:
              version: ["3.11", "3.12"]
      - coverage:
          requires:
            - tests
