# 1. Install Python v3.7.4
# 2. From repository root, run `pip install -e .`
# 3. In notebooks folder, run `pip install -r requirements.txt`

jupyter==1.0.0
requests==2.25.1
matplotlib==3.3.3
pandas==1.1.5
seaborn==0.11.1
tqdm==4.55.0